.footer {
    text-align: center;
}

.container .text-muted {
  margin: 10px 0;
}

body { 
    padding-bottom: 70px;
}

#page-header-top {
    background-color: #337AB7;
}
    
.head-text {
    color: white;
}

.head-text small {
    color: white;
}

.head-text a {
    color: white;
}