<footer class="navbar navbar-default navbar-fixed-bottom">
    <script src="js/foot.query.js"></script>
    <!-- <div  id="foreground-img">
            <button type="button" class="my-button btn-danger" width="100%">HIDE</button>
        <h4><small>Website Under Construction</small></h64>
        <img src="images/under_construction.png" width="70%" height="70%"></img>
    </div> -->
    <div class="container">
        <p class="text-muted">
            {{date | date:'yyyy MMM dd @ HH:mm:ss'}} | 
            <a href="https://angularjs.org/">ANGULAR.JS</a> | 
            <a href="http://getbootstrap.com/">Twitter Bootstrap</a> | 
            <a href="http://www.cssmatic.com/">CSS Matic</a> | 
            <a href="http://www.w3schools.com/tags/ref_colorpicker.asp"> HTML Colorpicker</a>
        </p>
    </div>
</footer>