<div class="container">    
    
    <script src="js/content.query.js"></script>
    
    <!-- Panel Content for Education Page -->
    <section ng-show="contText.getPage(1)">
        
        <div class="dropdown small">
            <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <text>ALL</text>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">PSU</a></li>
                <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">CSUB</a></li>
                <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
            </ul>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">PSU</a></li>
            <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">CSUB</a></li>
            <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
        </ul>
        
        <br>
        
        <div ng-controller="EducationController as ed">
            <section ng-repeat="school in ed.schools" ng-show="cont.isSelected($index) || cont.isSelected(-1)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img ng-src={{school.images[2]}} height="100" />
                        <img ng-src={{school.images[1]}} height="100" class="pull-right" style="text-align:left" />
                        <h4 calss="panel-title">{{school.name}}</h4>
                        <h5>{{school.degree}}, {{school.major}}</h5>
                        <h5 ng-show="school.minor.length">{{school.minor}}</h5>
                        <h6>{{school.start | date}} - {{school.end | date}}</h6>
                    </div>
                    <div class="panel-body">
                        <center><em ng-repeat="course in school.courses"><small>{{course}}</small> - </em></center>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Panel Content for Experience Page -->
    <section ng-show="contText.getPage(2)">
        
        <div class="dropdown small">
            <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <text>ALL</text>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">LEIDOS</a></li>
                <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">CSC</a></li>
                <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">OXY</a></li>
                <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
            </ul>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">LEIDOS</a></li>
            <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">CSC</a></li>
            <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">OXY</a></li>
            <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
        </ul>         
        
        <br>
        
        <div ng-controller="ExperienceController as ex">
            <section ng-repeat="position in ex.positions" ng-show="cont.isSelected($index) || cont.isSelected(-1)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img ng-src={{position.images[0]}} height="100" />
                        <h4 class="panel-title"><b>{{position.name}}</b></h4>
                        <h5>{{position.title}}</h5>
                        <div ng-hide="{{position.isCurrent}}"><h6>{{position.start | date}} - {{position.end | date}}</h6></div>
                        <div ng-show="{{position.isCurrent}}"><h6>{{position.start | date}} - Present</h6></div>
                    </div>
                    <div class="panel-body">
                        <em><small>{{position.descr}}</small></em>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Panel Content for Skills Page ----------------------------------------------------------------------------- -->
    <section ng-show="contText.getPage(3)">
        
        <div class="dropdown small">
            <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <text>ALL</text>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">PROFICIENT</a></li>
                <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">MODERATELY PROFICIENT</a></li>
                <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">PRIOR EXPERIENCE</a></li>
                <li ng-class="{ active: cont.isSelected(3)}"><a href="#" ng-click="cont.selectSub(3)">CURRENTLY LEARNING</a></li>
                <li ng-class="{ active: cont.isSelected(4)}"><a href="#" ng-click="cont.selectSub(4)">OTHERS</a></li>
                <li ng-class="{ active: cont.isSelected(5)}"><a href="#" ng-click="cont.selectSub(5)">OPEN BADGES</a></li>
                <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
            </ul>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">PROFICIENT</a></li>
            <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">MODERATELY PROFICIENT</a></li>
            <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">PRIOR EXPERIENCE</a></li>
            <li ng-class="{ active: cont.isSelected(3)}"><a href="#" ng-click="cont.selectSub(3)">CURRENTLY LEARNING</a></li>
            <li ng-class="{ active: cont.isSelected(4)}"><a href="#" ng-click="cont.selectSub(4)">OTHERS</a></li>
            <li ng-class="{ active: cont.isSelected(5)}"><a href="#" ng-click="cont.selectSub(5)">OPEN BADGES</a></li>
            <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
        </ul>         
        
        <br>
        
        <div ng-controller="SkillsController as tec">
            <section ng-repeat="skill in tec.skills" ng-show="cont.isSelected($index) || cont.isSelected(-1)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{skill.level}}</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in skill.items">
                                <span class="badge">{{item.num}}</span>
                                <em ><small>{{item.name}}</small></em>
                            </li>
                        </ul>
                    </div>
                </div>            
            </section>
            <section ng-show="cont.isSelected(5) || cont.isSelected(-1)">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Open Badges</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5>Code School</h5>
                                </li>
                                <li class="list-group-item">
        <iframe frameborder="0" scrolling="no" src="https://credly.com/otherembed/2108710/4/0/0/0" width="100%" height="220"></iframe>
                                </li>
                            </ul>
                        </div>
                    </div>
            </section>
        </div>
    </section>
    <!-- Panel Content for Projects Page ----------------------------------------------------------------------------- -->
    <section ng-show="contText.getPage(4)">
        
        <div class="dropdown small">
            <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <text>ALL</text>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">WEBSITE</a></li>
                <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">RESUME APP</a></li>
                <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">BUDGET NOTEBOOK</a></li>
                <li ng-class="{ active: cont.isSelected(3)}"><a href="#" ng-click="cont.selectSub(3)">TOURNAMENT CREATOR</a></li>
                <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
            </ul>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">WEBSITE</a></li>
            <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">RESUME APP</a></li>
            <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">BUDGET NOTEBOOK</a></li>
            <li ng-class="{ active: cont.isSelected(3)}"><a href="#" ng-click="cont.selectSub(3)">TOURNAMENT CREATOR</a></li>
            <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
        </ul>         
        
        <br>
        
        <div ng-controller="ProjectsController as proj">
            <section ng-repeat="project in proj.projects" ng-show="cont.isSelected($index) || cont.isSelected(-1)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{project.link}}">
                                    <img class="media-object" src="{{project.images[0]}}" height="64" />
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">{{project.name}}</h4>
                                <a href="{{project.link}}">
                                    <em>{{project.link}}</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <em><small>{{project.descr}}</small></em>
                        <table class="table table-condensed table-bordered">
                            <thead>
                              <tr>
                                <th><small>Technology Used</small></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="use in project.uses">
                                <td><small>{{use}}</small></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    
                    <div class="panel-body" ng-show="item.lenght">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in project.items">
                                <span class="badge">{{item.num}}</span>
                                <em ><small>{{item.name}}</small></em>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Panel Content for Other Page ----------------------------------------------------------------------------- -->
    <section ng-show="contText.getPage(5)">
        
        <div class="dropdown small">
            <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <text>ALL</text>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">COMMUNICATION</a></li>
                <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">LEADERSHIP</a></li>
                <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">ACTIVITIES</a></li>
                <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
            </ul>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">COMMUNICATION</a></li>
            <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">LEADERSHIP</a></li>
            <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">ACTIVITIES</a></li>
            <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
        </ul>         
        
        <br>
        
        <div ng-controller="AddinfoController as adi">
            <section ng-repeat="interest in adi.interests" ng-show="cont.isSelected($index) || cont.isSelected(-1)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{interest.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="act in interest.acts">
                                {{act}}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Panel Content for About Me Page ----------------------------------------------------------------------------- -->
    <section ng-show="contText.getPage(7)">
        
        <div class="dropdown small">
            <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <text>ALL</text>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">PICTURES</a></li>
                <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">QUOTES</a></li>
                <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
            </ul>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-class="{ active: cont.isSelected(0)}"><a href="#" ng-click="cont.selectSub(0)">PICTURES</a></li>
            <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">QUOTES</a></li>
            <li ng-class="{ active: cont.isSelected(-1)}"><a href="#" ng-click="cont.selectSub(-1)">ALL</a></li>
        </ul>         
        
        <br>
        
        <div ng-controller="AboutMeController as about">            
            <div class="panel panel-default" ng-show="cont.isSelected(0) || cont.isSelected(-1)">
                <div class="panel-heading">
                    <h4 calss="panel-title">Pictures</h4>
                </div>
                <div class="panel-body">
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <center>
                                <img class="about-pic-modal img-responsive" data-toggle="modal" data-target=".bs-example-modal-lg"/>
                            </center>
                        </div>
                      </div>
                    </div>
                    <div class="row about-row">
                        <div class="about-pic col-lg-3 col-md-4 col-xs-6"  ng-repeat="image in about.images">
                            <a class="thumbnail" href="#">
                                <img about-click class="img-responsive" src="{{image.imgURL}}" alt="" data-toggle="modal" data-target=".bs-example-modal-lg">
                            </a>
                            <p class="about-text">{{image.descr}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="cont.isSelected(1) || cont.isSelected(-1)">
                <div class="panel-heading">
                    <h4 calss="panel-title">Quotes</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-8 thumb" ng-repeat="quote in about.quotes">
                            <h3>{{quote.text}}</h3>
                            <h5>- {{quote.author}}</h5>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <!-- Panel Content for Contact Page ----------------------------------------------------------------------------- -->
    <section ng-show="contText.getPage(8)">
        <div ng-controller="ContactController as contact">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 calss="panel-title">CONTACT</h4>
                </div>
                <div class="panel-body">
                    <!-- Phone Numbers ------------------------------------------------------------------------------ -->
                    <table class="table table-condensed">
                        <col width="20%">
                        <col width="80%">
                        <thead>
                          <tr>
                            <th colspan="2"><small>Phone</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="phone in contact.phones">
                            <td><small>{{phone.type}}</small></td>
                            <td><small>{{phone.number | tel}}</small></td>
                          </tr>
                        </tbody>
                    </table>
                    <!-- Email Addresses ------------------------------------------------------------------------------ -->
                    <table class="table table-condensed">
                        <col width="20%">
                        <col width="80%">
                        <thead>
                          <tr>
                            <th colspan="2"><small>Email</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="email in contact.emails">
                            <td><small>{{email.type}}</small></td>
                            <td><small><a href="mailto:{{email.address}}">{{email.address}}</a></small></td>
                          </tr>
                        </tbody>
                    </table>
                    <!-- Location Addresses ------------------------------------------------------------------------------ -->
                    <table class="table table-condensed">
                        <col width="20%">
                        <col width="80%">
                        <thead>
                          <tr>
                            <th colspan="2"><small>Address</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="location in contact.locations">
                            <td><small>{{location.type}}</small></td>
                            <td><small>
                                {{location.city + ", " + location.state}}   
                            </small></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>