<div class="container">
    <p ng-show="contText.getPage(1)">
        <strong>Excellent Technical Aptitude:</strong>
            <small>Quick at acquiring new skills and utilizing new technology.</small>
        <br><br>
        <strong>Knowledgeable of Software Engineering Fundamentals:</strong>
            <small>Competent in software development lifecycle – from conception through delivery.</small>
        <br><br>
        <strong>Innovative:</strong>
            <small>Able to develop unique methodology and procedures for accomplishing goals.</small>
        <br><br>
        <strong>Double-Loop Learner:</strong>
            <small>Actively critique personal methodology and decision making process, making adjustments when needed.</small>
    </p>
</div>