<div class="container">
    <p ng-show="contText.getPage(0)">
        <img class="img-rounded pull-left" style="margin-right: 10" src="../src/images/profile.png" height="100" />
        <strong>Excellent Technical Aptitude:</strong>
            <small>Quick at acquiring new skills and utilizing new technology.</small>
        <br>
        <strong>Knowledgeable of Software Engineering Fundamentals:</strong>
            <small>Competent in software development lifecycle – from conception through delivery.</small>
        <br>
        <strong>Innovative:</strong>
            <small>Able to develop unique methodology and procedures for accomplishing goals.</small>
        <br>
        <strong>Double-Loop Learner:</strong>
            <small>Actively critique personal methodology and decision making process, making adjustments when needed.</small>
    </p>
</div>