<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Daniel Montanez</title>
        
        <!-- Latest compiled and minified jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.collapse.js"></script>
        <script type="text/javascript" src="../js/bootstrap.transition.js"></script>
        
        <!-- External compiled and minified Angular JavaScript & local myApp file -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="../ng/app.js"></script>
        
        <!-- Custom files -->
        <link rel="stylesheet" href="../css/footer.css">

    </head>
    
    <!-- Everything in the BODY tag falls into myApp -->
    <body ng-app="myApp">
        
        <!-- Header -->
        <div class="container-fluid" ng-controller="HeadController as head">
            <div class="page-header">
                <div class="row">
                    <my-title></my-title>
                    <my-address></my-address>
                    <my-contact></my-contact>
                </div>    
            </div> 
        </div>
        
        <!-- Navigation -->
        <my-nav-bar></my-nav-bar>
        
        <!-- Content -->
        <div class="container" ng-controller="ContentController as cont">
            <h4>{{page}}</h4>
            <section>
                <ul class="nav nav-pills">
                    <li ng-class="{ active: cont.isSelected(1)}"><a href="#" ng-click="cont.selectSub(1)">OPTION 1</a></li>
                    <li ng-class="{ active: cont.isSelected(2)}"><a href="#" ng-click="cont.selectSub(2)">OPTION 2</a></li>
                    <li ng-class="{ active: cont.isSelected(3)}"><a href="#" ng-click="cont.selectSub(3)">OPTION 3</a></li>
                </ul>         
            </section>
            {{cont.sub_page}}
        </div>
        
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </footer>
    </body>
</html>